@font-face {
	font-family: simpsons;
	src: url('../images/Simpsonfont.ttf') format('truetype');
}

body {
	font-family: 'simpsons';
	background: url(../../assets/images/clouds.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
	margin-top: 10%;
	background: url(../../assets/images/simpsons_characters.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#startButton {
	background-color: skyblue;
	color: yellow;
	font-size: 50px;
	text-shadow: 6px 6px 12px black;
}

#gameTitle {
	color: yellow;
	font-size: 55px;
	text-shadow: 6px 6px 12px black;
}

.styleBackground {
	text-align: center;
}

#displayCountDownClock {
	font-size: 20px;
	background-color: yellow;
	margin-left: 100px;
	margin-right: 100px;
}

#displayQuestion {
	background-color: yellow;
	margin-bottom: 40px;
	font-size: 20px;
	background-color: yellow;
	margin-left: 100px;
	margin-right: 100px;
	
}

.answerChoice {
	background-color: yellow;
	padding: 2%;
	font-size: 20px;
	background-color: yellow;
	margin-left: 100px;
	margin-right: 100px;
	border: 2px solid black;
	font-size: 20px; 
}

.answerChoice:hover {
	background-color: skyblue;
	color: yellow;
}

.color {
	text-align: center;
	background-color: skyblue;
	color: yellow;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 30px; 
	text-shadow: 6px 6px 12px black;

}

img {
	width: 300px;
	border: 2px solid black;
	margin: 0 auto;
}